.footer {
    background-color: #111111;
    width: 100vw;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 7rem 0;

    &__contact,
    &__about,
    &__brands {
        width: 230px;
        display: flex;
        flex-direction: column;

        ul {
            list-style: none;
            padding: 0;

            li {
                margin-bottom: 0.8rem;
            }
        }
    }
}
